:root {
  --borderWidth: 1px;
  --backgroundColor: rgb(59, 59, 59);
  --backgroundColorBar: rgb(70, 70, 70);
  --fontColor: rgb(200, 200, 200);
}

* {
  padding: 0;
  margin: 0;
}

#mainBody {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  font-size: 1em;
  position: relative;
  background-color: var(--backgroundColor);
  color: var(--fontColor);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: auto;
}
#titleBar {
  flex: 0 1 2.4em;
  display: flex;
  background-color: var(--backgroundColorBar);
}
#logo {
  flex: 0 1 33%;
}
#gameSelector {
  flex: 0 1 33%;
  align-self: center;
}
#contentArea {
  flex: 1 1 auto;
  display: flex;
  position: relative;
}
#sideBar {
  height: 100%;
  overflow-y: auto;
  overflow-x: clip;
  background-color: var(--backgroundColorBar);
  display: flex;
}
#sideBarSlide {
  flex: 0 0;
  width: 1.2ch;
  display: flex;
  flex-direction: column;
  border: 1px outset;
  border-right: none;
  border-color: var(--backgroundColor);
  transition: filter 0.2s ease-in;
}
#sideBarSlide:hover {
  filter: brightness(1.5);
}
.slideChar {
  flex: 0 0 1.1rem;
}
.slideLine {
  flex: 1 1 1rem;
  width: 0.2ch;
  background-color: var(--backgroundColor);
  align-self: center;
}
#sideBarContent {
  flex: 1 1 auto;
  width: 15ch;
  overflow-x: hidden;
  overflow-y: auto;
  will-change: width;
  transition: width 0.3s ease-out;
}
#gameWindow {
  flex: 0 1 100%;
  position: relative;
  overflow: auto;
  padding: 1ch;
}
/******************************************************  
*                                                     *
*       MINESWEEPER CLONE CSS                         *
*                                                     *
******************************************************/
#minesweeperSideBar {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.minesweeperSideSpan {
  overflow: hidden;
  width: 10ch;
  border-bottom: 1px inset;
}
.minesweeperSideSpanError {
  color: red;
}
#minefieldContainer {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  place-items: center;
  height: 100%;
  gap: 0.5rem;
  overflow-y: auto;
}
.mineButton {
  height: 100%;
  width: 100%;
  background-color: rgb(152, 171, 189);
  color: rgb(83, 71, 160);
  font-size: large;
  border-radius: 1em;
  transition: filter 0.2s linear;
}
.mineButton:hover {
  filter: brightness(1.5);
  transition: filter 0.3s linear;
}
.revealedMineButton {
  filter: brightness(0.7);
}
.revealedMineButton:hover {
  filter: brightness(0.7);
}
.minesweeperEndScreenWrapper {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.minesweeperEndScreen {
  line-height: 1.1em;
  font-size: 2em;
  border: 0.4em;
  border-style: ridge;
  padding: 0.1em 0.3em;
  border-radius: 1em;
  text-align: center;
}
.minesweeperScore {
  font-weight: 600;
  filter: brightness(1.5);
}
